.heading-line {
    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 700;
    padding-left: 100px;
    color: rgba(46, 52, 73, 0.4);
    position: relative;
    margin-bottom: 40px;
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 1px;
        width: 70px;
        background-color: rgba(0, 0, 0, 0.4);
        @include max(500px) {
            width: 40px;
        }
    }
    @include max(1200px) {
        font-size: 2rem;
    }
    @include max(800px) {
        font-size: 1.7rem;
    }
    @include max(500px) {
        padding-left: 50px;
        margin-bottom: unset;
    }
}

.heading-line.double {
    padding-right: 100px;
    @include max(500px) {
        padding-right: 50px;
    }
}

.heading-line.double {
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: 1px;
        width: 70px;
        background-color: rgba(0, 0, 0, 0.4);
        @include max(500px) {
            width: 40px;
        }
    }
}