.design {
    overflow: hidden;
    background-color: $color-pri;
    .container-top {
        overflow: hidden;
        margin-left: auto;
        width: calc(100vw - (100vw - 1200px) / 2);
        @include max(1200px) {
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }
    .container-bottom {
        overflow: hidden;
        margin-right: auto;
        width: calc(100vw - (100vw - 1200px) / 2);
        display: flex;
        @include max(1200px) {
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;
        }
    }
    &-wrap {
        &-box {
            margin: 0 -25px;
            display: flex;
            padding-top: 112px;
            flex-wrap: wrap;
            @include max(1000px) {
                padding-top: 24px;
            }
            .box-left {
                width: 45%;
                padding: 0 25px;
                @include max(1200px) {
                    width: 100%;
                }
                &-inner {
                    padding: 50px;
                    @include max(1200px) {
                        padding: 0;
                    }
                }
                .box-text {
                    .heading-line {
                        color: rgba(255, 255, 255, 0.4);
                    }
                    .heading-line.white {
                        &::before {
                            background: #fff;
                        }
                    }
                }
                .box-content {
                    @include max(1200px) {
                        margin-bottom: 12px;
                    }
                    .name {
                        gap: 16px;
                        display: flex;
                        align-items: center;
                        @include max(500px) {
                            margin-top: 12px;
                        }
                        .box-img {
                            width: 40px;
                            height: 40px;
                        }
                        .title {
                            color: #fff;
                            @include fz-24;
                        }
                    }
                    .des {
                        margin-top: 24px;
                        color: #fff;
                    }
                }
            }
            .box-right-bottom {
                width: 55%;
                padding: 0 25px;
                @include max(1200px) {
                    width: 100%;
                }
                .img-inner-bottom {
                    margin: 0 auto;
                }
            }
            .box-right {
                width: 55%;
                padding: 0 25px;
                @include max(1200px) {
                    width: 100%;
                }
            }
            .box-right-inner {
                .list {
                    .img-inner {
                        width: 100%;
                        .box-img {
                            position: relative;
                            overflow: hidden;
                            padding-top: calc((625/500)*100%);
                        }
                    }
                    .img-inner-bottom {
                        width: 100%;
                        @include max(1200px) {
                            width: 78%;
                        }
                        .box-img-bottom {
                            position: relative;
                            overflow: hidden;
                            padding-top: calc((597/677)*100%);
                        }
                    }
                }
            }
        }
    }
}

.design-banner {
    .wallpaper {
        &-wrap {
            &-img {
                opacity: 0.6;
                background-color: rgba(196, 196, 196, .4);
            }
            .wallpaper-content {
                &-box {
                    .box-top {
                        .title {
                            z-index: 2;
                            background-color: transparent;
                            position: relative;
                            padding: 16px 35px;
                            h1 {
                                color: #fff;
                                z-index: 3;
                            }
                            &::before {
                                z-index: -1;
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: rgba(38, 148, 138, .9);
                                transform: perspective(10px) rotateX(1deg) translateY(-1px);
                                border-radius: 26px 26px 0 0;
                                @include max(1200px) {
                                    background-color: rgba(38, 148, 138, .6);
                                }
                                @include max(530px) {
                                    background-color: rgba(38, 148, 138, .3);
                                }
                            }
                            .curved {
                                display: block;
                                position: absolute;
                                width: 20px;
                                height: 20px;
                                overflow: hidden;
                                z-index: 1;
                                transform: perspective(0px) rotateX(0deg);
                            }
                            .curved-left {
                                left: -20px;
                                bottom: 0px;
                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 250%;
                                    height: 250%;
                                    border-radius: 50%;
                                    right: 0;
                                    bottom: 0;
                                    box-shadow: 30px 30px 0 0 rgba(38, 148, 138, .9);
                                    @include max(1200px) {
                                        box-shadow: 30px 30px 0 0 rgba(38, 148, 138, .6);
                                    }
                                    @include max(530px) {
                                        box-shadow: 30px 30px 0 0 rgba(38, 148, 138, .3);
                                    }
                                }
                            }
                            .curved-right {
                                right: -20px;
                                bottom: 0px;
                                &::before {
                                    content: '';
                                    position: absolute;
                                    width: 250%;
                                    height: 250%;
                                    border-radius: 50%;
                                    bottom: 0;
                                    left: 0;
                                    box-shadow: -30px 30px 0 0 rgba(38, 148, 138, .9);
                                    @include max(1200px) {
                                        box-shadow: -30px 30px 0 0 rgba(38, 148, 138, .6);
                                    }
                                    @include max(530px) {
                                        box-shadow: -30px 30px 0 0 rgba(38, 148, 138, .3);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .btn-control {
        margin-top: 24px;
        display: flex;
        gap: 8px;
    }
    .des {
        padding: 0 15px;
        color: #fff;
    }
}

.tbprice {
    padding-top: 112px;
    &-wrap {
        &-box {
            .box-top {
                .flex {
                    gap: 16px;
                    display: flex;
                    align-items: center;
                    .line {
                        width: 70px;
                        border: 1px solid rgba(0, 0, 0, .4);
                    }
                    .title {
                        @include fz-24;
                    }
                }
            }
            .box-center {
                padding: 40px 0;
            }
            .box-bottom {
                .table {
                    &-wrap {
                        .swiper-wrapper {
                            margin: 0 -15px;
                            display: flex;
                        }
                        .box-item {
                            padding: 0 15px;
                            width: calc(100% /3);
                            .box-shadow {
                                box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.16);
                                background: #FFFFFF;
                                border-radius: 12px;
                                overflow: hidden;
                                transition-duration: 1s;
                                &:hover {
                                    transform: scale(0.9);
                                }
                            }
                            .box-title-now {
                                border-top-left-radius: 12px;
                                border-top-right-radius: 12px;
                                text-align: center;
                            }
                            .text {
                                background-color: #f5f5f5;
                                padding-top: 24px;
                                @include fz-24;
                                font-weight: 700;
                            }
                            .inner {
                                transform: translateY(-1px);
                                margin: 0 auto;
                                padding: 0 50px;
                                position: relative;
                                width: fit-content;
                                padding-bottom: 15px;
                                .number {
                                    @include fz-24;
                                    color: $color-second;
                                    position: relative;
                                    z-index: 2;
                                }
                                .skew {
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    background-color: #f5f5f5;
                                    top: 0;
                                    left: 0;
                                    transform: perspective(10px) rotateX(-1deg) translateY(1px);
                                    border-radius: 0 0 10px 10px;
                                    .cruved {
                                        display: block;
                                        position: absolute;
                                        width: 20px;
                                        height: 20px;
                                        overflow: hidden;
                                        z-index: 1;
                                        transform: perspective(0px) rotateX(0deg);
                                    }
                                    .cruved-left {
                                        left: -19px;
                                        top: 0px;
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            width: 250%;
                                            height: 250%;
                                            border-radius: 50%;
                                            top: 0;
                                            right: 0;
                                            box-shadow: 30px -30px 0 0 #f5f5f5;
                                        }
                                    }
                                    .cruved-right {
                                        right: -19px;
                                        top: 0px;
                                        &::before {
                                            content: '';
                                            position: absolute;
                                            width: 250%;
                                            height: 250%;
                                            border-radius: 50%;
                                            top: 0;
                                            left: 0;
                                            box-shadow: -30px -30px 0 0 #f5f5f5;
                                        }
                                    }
                                }
                            }
                            .list {
                                li {
                                    margin: 0 30px;
                                    p {
                                        padding: 16px;
                                    }
                                }
                            }
                            .box-title-retro {
                                border-top-left-radius: 12px;
                                border-top-right-radius: 12px;
                                text-align: center;
                                .text {
                                    background-color: $color-pri;
                                    padding-top: 24px;
                                    @include fz-24;
                                    color: #fff;
                                    font-weight: 700;
                                }
                                .number {
                                    @include fz-24;
                                    color: #fff;
                                }
                                .inner {
                                    .skew {
                                        background-color: $color-pri;
                                        .cruved-left {
                                            &::before {
                                                box-shadow: 30px -30px 0 0 $color-pri;
                                            }
                                        }
                                        .cruved-right {
                                            &::before {
                                                box-shadow: -30px -30px 0 0 $color-pri;
                                            }
                                        }
                                    }
                                }
                            }
                            .box-title-classic {
                                border-top-left-radius: 12px;
                                border-top-right-radius: 12px;
                                text-align: center;
                                .text {
                                    background-color: $color-second;
                                    color: #fff;
                                    @include fz-24;
                                    font-weight: 700;
                                }
                                .number {
                                    @include fz-24;
                                    color: #FFf;
                                }
                                .inner {
                                    .skew {
                                        background-color: $color-second;
                                        .cruved-left {
                                            &::before {
                                                box-shadow: 30px -30px 0 0 $color-second;
                                            }
                                        }
                                        .cruved-right {
                                            &::before {
                                                box-shadow: -30px -30px 0 0 $color-second;
                                            }
                                        }
                                    }
                                }
                            }
                            .list {
                                text-align: center;
                                li {
                                    // margin: 0 30px;
                                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                    p {
                                        padding: 16px;
                                    }
                                    &:nth-child(6) {
                                        border-bottom: unset;
                                        padding-bottom: 56px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}