@font-face {
    font-family: 'Taken';
    src: url('SVN-TakenbyVultures.woff2') format('woff2'), url('SVN-TakenbyVultures.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}